{{yield}}
<div style="background-color: #4f20b5;height:100px;width:100%;">
  <p><span style=" color: white;padding:2px;">@Copyright- S2G8-Blog 2019</span>
    <img src="/assets/images/Uwindsor_Logo_Rev.png" alt="" style="height:60px;float:right;margin:20px;">
  </p>
</div>