

<div style="padding: 30px;min-height: 22em;">
  <h4>About Page</h4>
  <br>
  <p>The purpose of this tutorial is to provide basic understanding of Ember.js framework and to gain hands-on practice of some of its features.</p>
  {{show-logo}}

</div>
{{outlet}}
