{{outlet}}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<div style="padding: 30px;min-height: 22em;">
  <h4>Contact Information</h4>
  <br>
  <h6>S2G8 Blog</h6>
  {{#link-to "phone"}}
    <p style="color: #2f67ff;"><i class="fa fa-phone"></i> Phone</p>
  {{/link-to}}
  {{#link-to "email"}}
    <p style="color: #2f67ff;"> <i class="fa fa-envelope"></i> Email</p>
  {{/link-to}}
  <br>
  <br>
  <h5>Contact Email</h5>
  <br>
  <h6>s2g8Blog@gmail.com</h6>
</div>