{{outlet}}
<div style="padding: 30px;min-height: 22em;">
  <h4>Welcome to My Home Page</h4>
  <br>
  <p>I am learning Ember.js to be equipped by one of the powerful and ambitious Web Development Framework.</p>
</div>